body {
  margin: 0;
}

.navbar {
  background-color: #37474f;
  height: 70px;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.navlink {
  color: white;
  font-size: 2rem;
  /* margin: 0 30px; */
}

.left {
  /* background-color: blue; */
  width: 350px;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.right {
  /* background-color: purple; */
  width: 265px;
  /* width: 350px; */
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
}
