body {
  /* background-color: cyan; */
  background-color: yellow;
}

h1 {
  background-color: rgba(212, 0, 255, 0.5);
  /* background-color: rgb(0, 255, 255); */
  /* opacity: 0.5; */
}

h2 {
  /* background-color: rgba(212, 0, 255, 0.279); */
  /* background-color: rgba(0, 255, 255, 0.5); */
  background-color: rgba(0, 255, 255, 0.7);
  /* background-color: cyan; */
  /* opacity: 0.5; */
  /* opacity: 75%; */
}

p {
  /* background-color: #00ff00; */
  /* background-color: #0f0; */
  /* background-color: #ffaa99; */
  background-color: #fa9;
}
