.container {
  /* height: auto; */
  /* height: 700px; */
  /* width: 700px; */
  /* height: 80vh; */
  width: 80%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-columns: 200px; */
  /* grid-template-columns: minmax(400px, 700px); */
  /* grid-template-columns: minmax(400px, 700px) minmax(400px, 700px); */
  /* grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr); */
  /* grid-template-columns: minmax(500px, 2fr) minmax(500px, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: minmax(100px, 300px); */
  grid-template-rows: minmax(100px, auto);
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template: 1fr 1fr 1fr / 1fr 2fr; */
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
