/* * {
  margin: 0;
  padding: 0;
} */

p {
  color: purple;
}

.tag {
  color: orange;
}

#featured {
  color: gold;
}

/* input {
  background-color: gold;
} */

input[type="text"] {
  background-color: purple;
}

input[type="number"] {
  background-color: gold;
}

a[href*="wiki"] {
  color: cyan;
}

a[href*="Moz"] {
  color: green;
}

a[href^="#"] {
  color: darkviolet;
}

a[href^="#sum"] {
  color: red;
}

a[href$=".com"] {
  color: darkgray;
}
