h1 {
  margin: -20px;
}

#container {
  border: 1px solid purple;
  background-color: lavenderblush;
  height: 400px;
  /* width: 300px; */
  /* width: 400px; */
  /* width: 600px; */
  width: 900px;
}

#container h3 {
  text-align: center;
  border: 1px solid black;
  width: 150px;
  /* margin: 0 auto; */
  margin: 100px auto;
}
